<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>OBJETO REQUEST</title>
</head>
<body>
    <div class="container">
        <h1>OBJETO REQUEST</h1>
        <h2>Gonzalo Cahuaya Alejo</h2>
        <div class="button-container">
            <a href="/formulario1" class="button">Formulario 1</a>
            <a href="/formulario2" class="button">Formulario 2</a>
            <a href="/formulario3" class="button">Formulario 3</a>
            <a href="/formulario4" class="button">Formulario 4</a>
        </div>
    </div>
</body>
</html>
